<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Post Job</h3>

    <form class="form signup-form">
      <div class="form-group">
        <label for="job_title">Name of job:</label>
        <input class="form-input" type="text" id="job_title" />
      </div>
      <div class="form-group">
        <label for="location">Location:</label>
        <input class="form-input" type="text" id="location" />
      </div>
      <div class="form-group">
        <label for="job_type">Job type:</label>
        <input class="form-input" type="text" id="job_type" />
      </div>
      <div class="form-group">
        <label for="min_salary"> Min salary:</label>
        <input class="form-input" type="integer" id="min_salary" />
      </div>
      <div class="form-group">
        <label for="max_salary">Max salary:</label>
        <input class="form-input" type="integer" id="max_salary" />
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <input class="form-input" type="text" id="description" />
      </div>
      <div class="form-group">
        <label for="category">Category:</label>
        <input class="form-input" type="text" id="category" />
      </div>
      <div class="form-group">
        <label for="remote">Remote:</label>
        <input class="form-input" type="text" id="remote" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Post Job</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/profile.js"></script>